<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Node-Chat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Main</a>
                </li>
                <% if(user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
                <% } %>
            </ul>
            <span class="navbar-text">
                <% if(user) { %>
                    <a class="nav-link j-logout" href="">LogOut</a>
                <% } else { %>
                    <a class="nav-link" href="/login">LogIn/LogUp</a>
                <% } %>
            </span>
        </div>
    </nav>
</header>

<script>
  $(function() {
    $('.j-logout').on('click', function() {
      $.ajax({
        url: "/logout",
        method: "POST",
        success: function() {
          window.location.href = '/';
        }
      });
      return false;
    });
  })
</script>