<% layout('\\layout\\layout'); -%>
<% block('title', 'Main page'); %>

<p class="lead">Hello on secret chat. Here is no chat history. All information from your conversation disappear after page reload</p>