body {
  position: relative;
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: #00B7FF;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  padding: 10px;
}

.room {
  max-width: 400px;
  height: calc(100vh - 255px);
}

.message-cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.message-cont li {
  padding: 3px 10px;
}

.message-cont li.incoming {
  text-align: right;
}