<% layout('\\layout\\layout'); -%>
<% block('title', 'Chat page'); %>

<p>Hello in chat</p>
<span>User id: </span><%= user.get('username') %>

<script src="/socket.io/socket.io.js"></script>

<div id="room" class="mb-4">
  <ul class="message-cont"></ul>
  <form class="message-form">
    <input class="form-control message-input" autocomplete="off" autofocus type="text" placeholder="Type a message">
  </form>
</div>

<script>
  $(function() {
    var form = $('.message-form');
    var messageCont = $('.message-cont');
    var messageInput = $('.message-input');
    var socket = io('', {
      reconnectionDelay : 600,
      reconnection: true
    });

    socket
      .on('new message', function(msg){
        printMessage(msg);
      })
      .on('connect', function() {
        printStatus('connect to the server');
        form.on('submit', sendMessage);
        messageInput.prop('disabled', false);
      })
      .on('disconnect', function() {
        printStatus('disconnect from the server');
        form.off('submit', sendMessage);
        messageInput.prop('disabled', true);
      }).on('reconnect_failed', function() {
        // after reconnection socket.io try to connect (infinity attempts by default)
        alert('reconnect failed, reload the page!');
      });

    function sendMessage() {
      var msg = messageInput.val();

      socket.emit('message', msg, function() {
        printMessage(msg);
      });
      messageInput.val('');
      return false;
    }

    function printMessage(msg) {
      $('<li />', {text: msg}).appendTo(messageCont);
    }

    function printStatus(msg) {
      $('<li />', {
        text: msg,
        css: {
          color: 'red',
          fontWeight: 'bold',
          fontStyle: 'italic'}
      }).appendTo(messageCont);
    }
  });
</script>